@model Project_Portfolio.Models.ProjectListViewModel

@{
    Layout = "_ProjectLayout.cshtml";
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            Project List
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Edit", "Project")">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            }
        </h2>
        @using (Html.BeginForm())
        {

            <div class="btn-group">
                @Html.EditorFor(m => m.PageSize, "Number", new {placeholder = "12", @class = "btn btn-outline-dark"})
                <button class="btn btn-outline-dark" type="submit">Set</button>
            </div>
        }
    </div>
</div>

<div class="row btn-group pagingBtnGroup">
    <a href="@Url.Action("Index","Project",new{page = 1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==1?"disabled":"")">First Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.CurrentPage-1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==1?"disabled":"")">Previous Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.CurrentPage+1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==Model.NumPages?"disabled":"")">Next Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.NumPages, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==Model.NumPages?"disabled":"")">Last Page</a>
</div>
<div class="row">
    @foreach (var project in Model.Projects)
    {
        @Html.Partial("_ProjectCard", project)
    }
</div>
<div class="row btn-group pagingBtnGroup">
    <a href="@Url.Action("Index","Project",new{page = 1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==1?"disabled":"")">First Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.CurrentPage-1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==1?"disabled":"")">Previous Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.CurrentPage+1, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==Model.NumPages?"disabled":"")">Next Page</a>
    <a href="@Url.Action("Index","Project",new{page = Model.NumPages, pagesize = Model.PageSize})" class="btn btn-outline-dark fill-width @(Model.CurrentPage==Model.NumPages?"disabled":"")">Last Page</a>
</div>